.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .main-box {
    width: 50%;
    position: relative;

    .main-box-title {
      margin-top: 50px;
      font-weight: 600;
      font-size: 64px;
      line-height: 80px;
      color: #000000;
    }

    .main-box-img {
      position: absolute;
      left: 442px;
      top: 140px;
    }
    .main-box-smoll__text {
      margin-top: 42px;
      margin-bottom: 65px;
      margin-right: 50px;
      font-size: 24px;
      line-height: 36px;
      color: #8f95a5;
    }
    .main-box-link {
      @include listNull;
      padding: 32px 118px;
      font-size: 36px;
      line-height: 54px;
      color: #ffffff;
      background: #263238;
      border-radius: 15px;
    }
  }

  .right-img {
    width: 50%;
  }
}
@media (max-width: 992px) {
  .main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .main-box {
      width: 50%;
      position: relative;

      .main-box-title {
        margin-top: 37px;
        font-weight: 600;
        font-size: 48px;
        line-height: 55px;
        color: #000000;
      }

      .main-box-img {
        width: 80px;
        height: 80px;
        position: absolute;
        left: 292px;
      }
      .main-box-smoll__text {
        margin-top: 27px;
        margin-bottom: 37px;
        margin-right: 30px;
        font-size: 20px;
        line-height: 30px;
      }
      .main-box-link {
        padding: 22px 78px;
        font-size: 24px;
        line-height: 36px;
        border-radius: 5px;
      }
    }
    .right-img {
      width: 50%;
    }
  }
}
